<p id="notice"><%= notice %></p>

<h1>Actor: <%= @actor.name %></h1>

<p>
  <strong>Gender:</strong>
  <%= @actor.gender %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @actor.bio %>
</p>

<p>
  <strong>Born:</strong>
  <%= @actor.born %>
</p>

<h3>Starred in</h3>
<ul>
  <% @actor.movies.each do |movie| %>
  <li><%= link_to movie.name, movie %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Actors', actors_path %> |
<%= link_to 'Home', root_path %>
