<p id="notice"><%= notice %></p>

<div data-role="header">
	<h1>Movie: <%= @movie.name %> </h1>
</div>

<div class="ui-content">
<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @movie.description %>
</p>

<h3>Cast</h3>
<ul>
  <% @movie.actors.each do |actor| %>
  <li><%= link_to actor.name, actor %></li>
  <% end %>
</ul>
</div>

<div data-role="footer">
&nbsp;
<%= link_to 'Edit', edit_movie_path(@movie) %> 
<%= link_to 'Movies', movies_path %> 
<%= link_to 'Home', root_path %>
</div>
