<p id="notice"><%= notice %></p>

<p>
  <strong>Belongs to:</strong>
  <%= @movies_actor.belongs_to %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @movies_actor.belongs_to %>
</p>

<%= link_to 'Edit', edit_movies_actor_path(@movies_actor) %> |
<%= link_to 'Back', movies_actors_path %>
